{% extends 'default/base.html' %}

{% block title %}{{_("Login")}} - {{super()}} {% endblock %}

{% block content %}

<div class="centeralign">
    <form action="" method="post" accept-charset="utf-8" id="login">
        <div class="no">
            <input type="hidden" name="do" value="login"/>
                <div class="logform">
                    <div class="input-row">
                        <label for="username">
                            <span>{{_("Username")}}</span>
                        </label>
                        <input class="login-field" id="username" type="text" size="20" name="username"/>
                    </div>
                    <div class="input-row">
                        <label for="py-pw">
                            <span>{{_("Password")}}</span>
                        </label>
                        <input class="login-field" id="py-pw" type="password" size="20" name="password"/>
                    </div>
                    <input type="submit" value="Login" class="button"/>
                </div>
        </div>
    </form>

    {% if errors %}
    <p>{{_("Your username and password didn't match. Please try again.")}}</p>
    {{ _("To reset your login data or add an user run:") }} <b> python pyLoadCore.py -u</b>
    {% endif %}

</div>

{% endblock %}
